
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <a class="navbar-brand bg-light"  href="/"><img src="/images/site/favicon.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarConservatorio"
        aria-controls="navbarConservatorio" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarConservatorio">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Usuarios
                </a>
                <ul class="dropdown-menu" aria-labelledby="usersDropdown">
                    <li><a class="dropdown-item" href="#">Buscar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/auth/register">Nuevo</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="studentsDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Alumnos
                </a>
                <ul class="dropdown-menu" aria-labelledby="studentsDropdown">
                    <li><a class="dropdown-item" href="#">Buscar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Nuevo</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="teachersDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Profesores
                </a>
                <ul class="dropdown-menu" aria-labelledby="teachersDropdown">
                    <li><a class="dropdown-item" href="#">Buscar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Nuevo</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="preceptorDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Preceptores
                </a>
                <ul class="dropdown-menu" aria-labelledby="preceptorDropdown">
                    <li><a class="dropdown-item" href="#">Buscar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Nuevo</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="auxiliariesDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Auxiliares
                </a>
                <ul class="dropdown-menu" aria-labelledby="auxiliariesDropdown">
                    <li><a class="dropdown-item" href="#">Buscar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Nuevo</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="principalsDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Directivos
                </a>
                <ul class="dropdown-menu" aria-labelledby="principalsDropdown">
                    <li><a class="dropdown-item" href="#">Buscar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Nuevo</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="recordsDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Actas
                </a>
                <ul class="dropdown-menu" aria-labelledby="recordsDropdown">
                    <li><a class="dropdown-item" href="#">Buscar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Nuevo</a></li>
                </ul>
            </li>
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav">
                <a class="nav-link" href="/auth/login">
                    <li class="nav-item">Iniciar Sesión</li>
                </a>
            </ul>
        </span>
        <!-- <span class="navbar-text">
                        <ul class="navbar-nav">
                            <a class="nav-link" href="#"><li class="nav-item">Nombre Apellido <i class="bi bi-person-circle"></i></li></a>
                        </ul>
         </span> -->
    </div>
</div>
</nav>